/* Image Tag */
  img{
    height:1200px;
    width:900px;
  }

/* Media Screen For Mobile */
@media screen and (max-width:400px)
{
  .responsive img
    {
     height:100%;
     width:100%;
    }
 }

